
@{
    Layout = null;
}
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <title>Light Company - Landing page Coming Soon template</title>
    <meta name="description" content="A responsive coming soon template, un template HTML pour une page en cours de construction">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link rel="stylesheet" href="~/Content/normalize.css">
    <link rel="stylesheet" href="~/Content/pageloader.css">
    <link rel="stylesheet" href="~/Content/stylesheet_1.css">
    <link rel="stylesheet" href="~/Content/stylesheet.css">
    <link rel="stylesheet" href="~/Content/ionicons.min.css">
    <!-- Vendor CSS style -->
    <link rel="stylesheet" href="~/Content/foundation.min.css">
    <link rel="stylesheet" href="~/Content/jquery.fullPage.css">
    <link rel="stylesheet" href="~/Content/vegas.min.css">
    <!-- Main CSS files -->
    <link rel="stylesheet" href="~/Content/main.css">
    <link rel="stylesheet" href="~/Content/main_responsive.css">
    <link rel="stylesheet" href="~/Content/style-color1.css">

    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body id="menu" class="alt-bg">
    <!-- BEGIN OF Quick nav icons at left -->
    <nav class="quick-link count-4 nav-left">
        <div class="logo">
            <a href="#home">
                <img src="~/img/favicon.png" alt="Logo Brand">
            </a>
        </div>
        <ul id="qmenu" class="qmenu">
            <li data-menuanchor="home">
                <a href="@Url.Action("Index","Home")" class="">
                    <i class="icon ion ion-home"></i>
                </a>
                <span class="title">Home page</span>
            </li>
        </ul>
    </nav>
    <!-- END OF Quick nav icons at left -->
    <!-- BEGIN OF site cover -->
    <div class="page-cover" id="s-cover">
        <!-- Cover Background -->
        <div class="cover-bg pos-abs full-size bg-img" data-image-src="/img/bg-default.jpg"></div>
        <div class="cover-bg-mask pos-abs full-size bg-color" data-bgcolor="rgba(0, 0, 0, 0.41)"></div>
    </div>
    <!--END OF site Cover -->
    <!-- Begin of timer pane -->
    <div class="pane-when " id="s-when">
        <div class="content">
            <!-- Clock -->
            <div class="clock clock-countdown">
                <div class="site-config" data-date="12/21/2024 00:00:00" data-date-timezone="+0"></div>
                <div class="elem-center">
                    <div class="digit">
                        <span class="days">00</span>
                        <span class="txt">days</span>
                    </div>
                </div>
                <div class="elem-bottom">
                    <div class="deco"></div>
                    <span class="hours">00</span><span class="thin">H</span>
                    <span class="minutes">00</span><span class="thin">M</span>
                    <span class="seconds">36</span><span class="thin">S</span>
                </div>
            </div>


            <footer>
                <p>Before we launch our <strong>new website</strong></p>
            </footer>
        </div>
    </div>
    <!-- End of timer pane -->
    <!-- BEGIN OF site main content content here -->
    <main class="page-main" id="mainpage">
        <!-- Begin of about us page -->
        <div class="section page-about page page-cent" id="s-about-us">
            <section class="content">
                <header class="p-title">
                    <h3>
                        Thank You
                        </i>
                    </h3>
                    <h4 class="subhead">We <span class="bold">Contact</span> You <span class="bold">Soon</span> !</h4>
                </header>
                <article class="text">
                    <p>Thank you for providing us with your email. We will keep you updated with the latest news.</p>
                    <p>We would be happy if you visit this site again after a while.</p>
                </article>
            </section>
        </div>
        <!-- End of about us page -->
    </main>

    <!-- END OF site main content content here -->
    <!-- Begin of site footer -->
    <footer class="page-footer">
        <div>
            <a href="http://www.instagram.com/lightcompany.ir" target="_blank"><i class="ion icon ion-social-instagram"></i></a>
            <a href="https://github.com/Milad-PC/Cooming-soon" target="_blank"><i class="ion icon ion-social-github"></i></a>
        </div>
    </footer>
    <script src="~/Scripts/jquery-3.7.1.min.js"></script>
    <!-- All vendor scripts -->
    <script src="~/Scripts/all.js"></script>
    <!-- Downcount JS -->
    <script src="~/Scripts/jquery.downCount.js"></script>
    <!-- Form script -->
    <script src="~/Scripts/form_script.js"></script>
    <!-- Javascript main files -->
    <script src="~/Scripts/main.js"></script>
</body>
</html>
