@model IEnumerable<CoomingSoonApp.EmailReq>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <h2>Section title</h2>
    <div class="table-responsive small">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Date Request</th>
                    <th scope="col">Email</th>
                    <th scope="col">Copy</th>
                </tr>
            </thead>
            <tbody>
                @foreach (EmailReq item in Model)
                {
                    <tr>
                        <td>@item.EmailReqId</td>
                        <td>@item.ReqDate</td>
                        <td>@item.EmailAddress</td>
                        <td>
                            <button class="btn btn-primary" type="button" onclick="">Copy</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</main>
