
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
<head>
    <script src="~/Scripts/color-modes.js"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="This Is Free Sample">
    <meta name="author" content="Milad Asadi,LightCompany">
    <meta name="generator" content="Hugo 0.122.0">
    <title>Signin | LightCompany</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="~/img/favicon.png" sizes="180x180">
    <link rel="icon" href="~/img/favicon.png" type="image/png">
    <link rel="icon" href="~/favicon.ico">
    <link href="~/Content/sign-in.css" rel="stylesheet" />
</head>
<body class="d-flex align-items-center py-4 bg-body-tertiary">
    <main class="form-signin w-100 m-auto">
        <form method="POST" action="@Url.Action()">
            @Html.AntiForgeryToken()
            <img class="mb-4" src="~/img/favicon.png" alt="" width="64" height="64">
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
            <span class="text-danger">@ViewBag.Error</span>
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" name="UserName" placeholder="name@example.com">
                <label for="floatingInput">UserName</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" name="Password" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
            <p class="mt-5 mb-3 text-body-secondary">LightCompany © 2015–2024</p>
        </form>
    </main>

    <script src="~/Scripts/jquery-3.7.1.slim.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
</body>
</html>
